<div class="header">
    <div class="header-container">
        <h1>Médiathèque Symfony</h1>

        <nav class="nav">
            <a href="{{ path('home') }}">accueil</a>
            <a href="{{ path('presentation') }}">la médiathèque</a>
            <a href="#">dans nos rayonnages</a>
            <a href="#">nos événements</a>
            <a href="{{path('dashboard')}}">tableau de bord</a>
        </nav>

        <div>
            <button>s'inscrire</button>
            <button>se connecter</button>
        </div>
    </div>

</div>