/* GENERAL */
body{
    background-color: #E1EBFD;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1, h2, h3, h4{
    font-family: serif;
}

h1{
    font-size: 2rem;
    font-weight:600;
}

h2{
    font-size:2rem;
    font-weight: 500;
}

a{
    text-decoration: none;
    font-weight: 600;
    color:#333;
}

/* HEADER */
.header{
    background-color: rgba(255, 255, 255, 0.4);
    width:100%;
    display: flex;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
    margin:2rem auto;
}

.nav{
    display: flex;
}

.nav a{
    text-transform: uppercase;
    font-size:0.8rem;
    margin: 0 0.5rem;
}

/*BODY*/
.body{
    display:flex;
    flex-direction: column;
    width:80%;
    margin:3rem auto;
}

.core{
    width:100%;
}

.core h2, .body h2{
    margin-top:0;
}

.core p, .body p{
    margin-bottom:0;
}

.body p{
    font-weight: 600;
}

.body-title{
    font-size:3.5rem;
    font-weight:600;
}
.box{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2rem 3rem;
    margin:1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:10rem;
    max-width:8rem;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem 0;
}

.box > span{
    margin-top: 1rem;
    display: block;
    font-size: 1.125rem;
    text-align:center;
}

.aside{
    display: flex;
    flex-direction: column;
    width:15%;
    padding:2rem;
    margin: 2rem 2rem 2rem 0;
    background-color: rgba(255, 255, 255, 0.4);
}

/*FOOTER*/
.footer{
    padding:2rem 4rem;
    display:flex;
    align-items: center;
    font-size: 0.75rem;
    justify-content: center;
    width:100%;
}