/* BODY */
.dashboard-body{
    display: flex;
}

.dashboard-title{
    margin-left:15%;
}

/* NAV */
.aside-nav{
    display: flex;
    flex-direction: column;
    width:15%;
    padding:2rem;
    margin: 2rem 0 2rem 2rem;
    border-right: 1px solid white;
}

.menu{
    //
}

.menu-item{
    //
}