{% extends 'dashboard.html.twig' %}

{% block title %}Médiathèque Symfony - Tableau de bord{% endblock %}

{% block body %}
    <div class="dashboard-body">
        {{ include('aside/aside_nav.html') }}
       <div class="core">
           <h2 class="dashboard-title">{{ block('title') }}</h2>
           <p>wip too</p>
       </div>
    </div>
{% endblock %}
